<div class="flex flex-col w-full space-y-4">
  <%= form_with(url: dashboard_index_url, data: { turbo_frame: 'sales_chart' }, method: :get) do |form| %>
    <%= form.select(
      :filter_days,
      [['Last 7 days', 7], ['Last 28 days', 28], ['Last 90 days', 90]]
    ) %>
    <%= form.select(
      :filter_interval,
      [['Daily', 'daily'], ['Weekly', 'weekly'], ['Monthly', 'monthly']]
    ) %>
    <%= form.submit 'Filter' %>
  <% end %>

  <%= turbo_frame_tag 'sales_chart' do %>
    <div class="flex flex-col space-y-4">
      <%= render 'all_sales_chart' %>

      <div class="flex space-x-4 w-full">
        <%= render 'top_sales_by_store_chart' %>
        <%= render 'top_sales_by_product_chart' %>
      </div>
    </div>
  <% end %>
</div>
