<%= area_chart Sale.group_by_day(:created_at).count %>
<%= bar_chart Sale.joins(:store)
                  .group('stores.name')
                  .limit(5)
                  .count
                  .sort_by { |_, count| count }.reverse %>
<%= bar_chart Sale.joins(:product)
                  .group('products.name')
                  .limit(5)
                  .count
                  .sort_by { |_, count| count }.reverse %>

<h1>Latest Sales</h1>
<%= turbo_stream_from 'sales' %>
<table>
  <thead>
    <tr>
      <th>Store</th>
      <th>Product</th>
      <th>Price</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody id="sales" data-controller="sales">
    <%= render @sales.all.order(created_at: :desc).take(50) %>
  </tbody>
</table>
