<div class="flex flex-col w-full space-y-4" data-controller="dashboard">
  <%= form_with(
    url: dashboard_index_url,
    data: { turbo_frame: 'sales_chart', action: 'change->dashboard#disabledFilterIntervalOption' },
    method: :get) do |form| %>
    <%= form.select(
      :filter_days,
      [['Last 7 days', 7], ['Last 28 days', 28], ['Last 90 days', 90]],
      {},
      data: {
        dashboard_target: 'filterDays'
      }
    ) %>
    <%= form.select(
      :filter_interval,
      [['Daily', 'daily'], ['Weekly', 'weekly'], ['Monthly', 'monthly']],
      {},
      data: {
        dashboard_target: 'filterInterval'
      }
    ) %>
    <%= form.submit 'Filter' %>
  <% end %>

  <%= turbo_frame_tag 'sales_chart' do %>
    <div class="flex flex-col space-y-4">
      <%= render 'all_sales_chart' %>

      <div class="flex space-x-4 w-full">
        <%= render 'top_sales_by_store_chart' %>
        <%= render 'top_sales_by_product_chart' %>
      </div>
    </div>
  <% end %>
</div>
