<div data-controller="dashboard">
  <nav>
    <ul>
      <%= form_with(
        url: dashboard_index_url,
        data: { turbo_frame: 'sales_chart', action: 'change->dashboard#disabledFilterIntervalOption' },
        method: :get) do |form| %>
          <li>
            <%= form.select(
              :filter_days,
              [['Last 7 days', 7], ['Last 28 days', 28], ['Last 90 days', 90]],
              {},
              data: {
                dashboard_target: 'filterDays'
              }
            ) %>
          </li>
          <li>
            <%= form.select(
              :filter_interval,
              [['Daily', 'daily'], ['Weekly', 'weekly'], ['Monthly', 'monthly']],
              {},
              data: {
                dashboard_target: 'filterInterval'
              }
            ) %>
          </li>
          <li>
            <%= form.submit 'Filter' %>
          </li>
      <% end %>
    </ul>
    <ul>
      <%= label 'theme', 'dark' do %>
        <strong>Dark</strong>
        <%= check_box(
          'theme',
          'dark',
          role: 'switch',
          data: {
            dashboard_target: 'theme',
            action: 'click->dashboard#switchTheme'
          }) %>
      <% end %>
    </ul>
  </nav>
  <%= turbo_frame_tag 'sales_chart' do %>
    <%= render 'all_sales_chart' %>

    <div class="grid">
      <%= render 'top_sales_by_store_chart' %>
      <%= render 'top_sales_by_product_chart' %>
    </div>
  <% end %>
</div>
