<%= turbo_stream_from 'sales' %>

<%= render 'all_sales_chart' %>
<%= render 'top_sales_by_store_chart' %>
<%= render 'top_sales_by_product_chart' %>

<h1>Latest Sales</h1>
<table>
  <thead>
    <tr>
      <th>Store</th>
      <th>Product</th>
      <th>Price</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody id="sales" data-controller="sales">
    <%= render @sales.limit(50).order(created_at: :desc) %>
  </tbody>
</table>
