<%= turbo_stream_from 'sales' %>
<div data-controller="dashboard charts">
  <nav>
    <ul>
      <%= form_with(
        url: dashboard_index_url,
        data: {
          action: 'change->charts#fetchData'
        },
        method: :get) do |form| %>
          <li>
            <%= form.select(
              :filter_days,
              [['Last 7 days', 7], ['Last 28 days', 28], ['Last 90 days', 90]],
              {},
              data: {
                charts_target: 'filterDays'
              }
            ) %>
          </li>
          <li>
            <%= form.select(
              :filter_interval,
              [['Daily', 'daily'], ['Weekly', 'weekly'], ['Monthly', 'monthly']],
              {},
              data: {
                charts_target: 'filterInterval'
              }
            ) %>
          </li>
      <% end %>
    </ul>
  </nav>


  <%= render 'all_sales_chart', total: @total %>

  <div class="grid">
    <%= render 'top_sales_by_store_chart' %>
    <%= render 'top_sales_by_product_chart' %>
  </div>
</div>
