<tr id="<%= dom_id store %>">
  <td scope="col">
    <%= link_to store do %>
      <%= store.name %>
    <% end %>
  </td>
  <th scope="col"><%= number_to_currency(store.sales.sum(:price)) %></th>
  <td><%= button_to 'destroy', store, method: :delete %></<td>
</tr>
