<tr class="bg-white border-b" id="<%= dom_id(sale) %>">
  <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
    <%= sale.store_name %>
  </th>
  <td class="px-6 py-4">
    <%= sale.product_name %>
  </td>
  <td class="px-6 py-4">
    <%= sale.price %>
  </td>
  <td class="px-6 py-4">
    <%= sale.created_at %>
  </td>
</tr>
