<!DOCTYPE html>
<html data-theme="light">
  <head>
    <title>Poc</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.*/css/pico.min.css">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="container" data-controller="dashboard">
    <nav>
      <ul>
        <li>
          <%= link_to dashboard_index_url do %>
            <strong>Home</strong>
          <% end %>
        </li>
      </ul>
      <ul>
        <li>
          <%= link_to 'Sales', sales_path %>
        </li>
        <li>
          <%= link_to 'Stores', stores_path %>
        </li>
        <li>
          <%= link_to 'Products', products_path %>
        </li>
      </ul>
      <ul>
        <li>
          <%= label 'theme', 'dark' do %>
            <strong>Dark</strong>
            <%= check_box(
              'theme',
              'dark',
              role: 'switch',
              data: {
                dashboard_target: 'theme',
                action: 'click->dashboard#switchTheme'
              }) %>
          <% end %>
        </li>
      </ul>
    </nav>

    <main>
      <%= yield %>
    </main>
  </body>
</html>
