<!DOCTYPE html>
<html data-theme="light">
  <head>
    <title>Poc</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.*/css/pico.min.css">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="container">
    <nav>
      <ul>
        <li>
          <%= link_to dashboard_index_url do %>
            <strong>Aldo Store</strong>
          <% end %>
        </li>
      </ul>
      <ul>
        <li>
          <%= link_to 'Stores', stores_path %>
        </li>
        <li>
          <%= link_to 'Products', products_path %>
        </li>
      </ul>
    </nav>

    <%= yield %>
  </body>
</html>
